.sidePanel{
    text-align: center;
    margin-top: 5%;
}

.sidePanelGenre {
    box-shadow: 3px 3px 10px 5px rgba(61,61,61,1);
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
    height: 35px;
    font-size: 1.3em;
    overflow: hidden;
}

.genrebuttonFrame {

}
