<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add audiobook</title>
</head>
<body>
    <h1>{{ amount_of_audiobooks }} audiobooks to add found</h1>
    <form action = "{% url 'serverSide:AddAudiobookObject' %}" method="post">
    {% for audiobook in audiobooks %}
        <hr>
        {% csrf_token %}

        <input type="hidden" name="data" value="audiobook">
        Name: <input type="text" name="name" value="{{ audiobook.get_name }}"><br>
        Release date: <input type="date" name="year"><br>
        Owner: <input type="text" name="owner"><br>
        Global ID: <input type="number" name="global_id"><br>
        Language: <input type="text" name="language"><br>
        Explanation: <input type="text" name="explanation"><br>
        Publisher: <input type="text" name="publisher"><br>
        Narrator: <input type="text" name="narrator"><br>
        Author: <input type="text" name="author"><br>
        {% for audiobook_path in  audiobook.get_book_path %}
            Book path: <input type="radio" name="book_path" value="{{ audiobook_path }}">{{ audiobook_path }}<br>
        {% endfor %}
        {% for art_path in audiobook.get_art_path %}
            Artwork path: <input type="radio" name="art_path" value="{{ art_path }}"> {{ art_path }}<br>
        {% endfor %}
        <input type="checkbox" name="delete_original" value="delete" checked> Delete the original folder.<br>
        <input type="submit" value="Add audiobook"><br>
    {% endfor %}
    </form>
</body>
</html>