<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add movie</title>
</head>
<body>
    <h1>{{ amount_of_movies }} movies to add found</h1>
    {% for movie in movies %}
        <hr>
        <form action = "{% url 'serverSide:AddMovieObject' %}" method="post">
            {% csrf_token %}

            <input type="hidden" name="data" value="movie"><br>
            Movie name:<input type="text" name="name" value="{{ movie.get_name }}"><br>
            Owner:<input type="text" name="owner"><br>
            Release date:<input type="date" name="year"><br>
            Global ID:<input type="number" name="global_id"><br>
            Minimum age:<input type="number" name="age"><br>
            Genre:<input type="text" name="genres"><br>
            Explanation:<input type="text" name="explanation"><br>

            {%  for trailer_path in movie.get_trailer_path %}
                Trailer path:<input type="radio" name="trailer_path" value="{{ trailer_path }}">{{ trailer_path }}<br>
            {% endfor %}

            {% for art_path in movie.get_art_path %}
                Artwork path:<input type="radio" name="art_path" value="{{ art_path }}">{{ art_path }}<br>
            {% endfor %}

            {% for video_path in movie.get_movie_path %}
                Movie path:<input type="radio" name="movie_path" value="{{ video_path }}">{{ video_path }}<br>
            {% endfor %}

            <input type="checkbox" name="delete_original" value="delete" checked> Delete the original folder.<br>
            <input type="submit" value="add movie"><br>
        </form>
    {% endfor %}

</body>
</html>