<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add movie</title>
</head>
<body>
    <form action = "{% url 'serverSide:AddMovieObject' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="data" value="movie"><br>
        Movie name:<input type="text" name="name"><br>
        Owner:<input type="text" name="owner"><br>
        Release date:<input type="date" name="year"><br>
        Global ID:<input type="number" name="global_id"><br>
        Minimum age:<input type="number" name="age"><br>
        Genre:<input type="text" name="genres"><br>
        Explanation:<input type="text" name="explanation"><br>
        Trailer path:<input type="text" name="trailer_path"><br>
        Artwork path:<input type="text" name="art_path"><br>
        Movie path:<input type="text" name="movie_path"><br>
        <input type="submit" value="add movie"><br>


    </form>
</body>
</html>