<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add serie</title>
</head>
<body>
<h1>{{ amount_of_series }} series found</h1>
{% for serie in series %}
    <form action="{% url 'serverSide:AddSeriesObject' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="data" value="series">
        <h1> Series</h1>
        Series name: <input type="text" name="series_name" value="{{ serie.name }}"><br>
        Series year: <input type="date" name="series_year"><br>
        Series owner: <input type="text" name="series_owner"><br>
        Series global id: <input type="number" name="series_global_id"><br>
        Series explanation: <input type="text" name="series_explanation"><br>
        Series artwork path: <input type="text" name="series_art_path"><br>
        Series genres: <input type="text" name="series_genres"><br>
        <input type="hidden" name="amount_of_seasons" value={{ serie.seasons|length }}>
        {% for season in serie.seasons %}
            <h1>SEASON ===============</h1>
            Season name: <input type="text" name="season_name.{{ season.season_number }}" value="{{ season.name }}"><br>
            Season explanation: <input type="text" name="season_explanation.{{ season.season_number }}"><br>
            Season number:
            <input type="number" name="season_number.{{ season.season_number }}" value="{{ season.season_number }}"><br>
            Season date: <input type="date" name="season_date.{{ season.season_number }}"><br>
            Season artwork path: <input type="text" name="season_art_path.{{ season.season_number }}"><br>
            Season enable: <input type="checkbox" name="season_enable.{{ season.season_number }}" checked><br>
            <input type="hidden" name="amount_of_episodes.{{ season.season_number }}"
                   value={{ season.series_videos|length }}>
            {% for episode in season.series_videos %}
                <h1> -------------</h1>
                Video name:<input type="text" name="video_name.{{ season.season_number }}.{{ episode.video_number }}"
                                  value="{{ episode.name }}"><br>
                Video explanation:
                <input type="text" name="video_explanation.{{ season.season_number }}.{{ episode.video_number }}"><br>
                Video number:
                <input type="number" name="video_number.{{ season.season_number }}.{{ episode.video_number }}"
                       value="{{ episode.video_number }}"><br>
                Video release date:
                <input type="date" name="video_date.{{ season.season_number }}.{{ episode.video_number }}"><br>
                Video artwork path:
                <input type="text" name="video_art_path.{{ season.season_number }}.{{ episode.video_number }}"><br>
                Video path:<input type="text" name="video_path.{{ season.season_number }}.{{ episode.video_number }}"
                                  value="{{ episode.video_path }}"><br>
                Video enable:
                <input type="checkbox" name="video_enable.{{ season.season_number }}.{{ episode.video_number }}"
                       checked>
            {% endfor %}
        {% endfor %}
        <input type="submit" value="create series">
    </form>
    <hr>
{% endfor %}
</body>
</html>